body {
  display: flex;
  justify-content: flex;
  align-items: center;
  flex-direction: column;
  height: auto;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  background: #fcfbf6;
  color: #252628;
}

.container {
  width: 80%;
  max-width: 800px;
  margin: 0 auto;
}
.writeTaskContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.containerFilter {
  color: #1b1909;
  display: flex;
  justify-content: center;
  align-items: center;
}

#counter {
  margin-bottom: 20px;
  margin-top: 30px;
  font-weight: 500;
  font-size: medium;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #252628;
}

#progressContainer {
  width: 100%;
  background-color: rgba(232, 230, 223, 0.8);
  border-radius: 10px;
  overflow: hidden;
  height: 10px;
  margin-top: 10px;
}

#progressBar {
  width: 0;
  height: 100%;
  background-color: #76c7c0;
  transition: width 0.3s;
}
#filteredTasks {
  width: 50%;
  ul li {
    background-color: rgba(249, 231, 159, 0.4);
  }
}

#button_done,
#button_undone,
#button_all {
  background: rgba(232, 230, 223, 0.8); /* plus lumineux */
  border: 1px solid #1b1909;
  border-radius: 8px;
  padding: 8px 10px;
  color: #1b1909;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  transition: all 0.3s ease;
  cursor: pointer;
}
#addTaskBtn {
  background: rgba(148, 215, 190, 0.2);
  border: 2px solid #1b1909;
  border-radius: 8px;
  padding: 8px 10px;
  color: #1b1909;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  transition: all 0.3s ease;
  cursor: pointer;
  font-weight: bold;
}

h1 {
  margin-bottom: 65px;
  margin-top: 65px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  letter-spacing: 2px;
}

h2 {
  font-family: "Montserrat", sans-serif;
}

input[type="text"] {
  width: 480px;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
  height: 20px;
  border-color: #1b1909;
  font-family: "Montserrat", sans-serif;
  border-width: 1px;
}

ul {
  width: auto;
  list-style: none;
  padding: 0;
  font-size: 14px;
}

button {
  background: transparent;
  border: none;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  margin: 5px;
}

ul li {
  display: flex;
  padding: 10px 20px;
  align-items: center;
  background-color: rgba(148, 215, 190, 0.2);
  color: #1b1909;
  border-radius: 5px;
  margin-bottom: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
  justify-content: space-between;
}

.text-section {
  flex: 1;
}

.button-container {
  display: flex;
  gap: 10px;
}

.strikethrough {
  text-decoration: line-through;
}

@media (max-width: 600px) {
  h1 {
    font-size: 1.8rem;
    margin: 40px 0;
  }

  input[type="text"] {
    width: 100%;
  }

  #filteredTasks {
    width: 100%;
  }

  .writeTaskContainer,
  .containerFilter,
  .button-container {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  #button_done,
  #button_undone,
  #button_all,
  #addTaskBtn {
    width: 90%; /* boutons prennent presque toute la largeur */
    padding: 8px 6px;
    font-size: 14px;
  }
}
